# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_WKS360_LEFT
# 右親機にしたければ "if SHIELD_WK_360_RIGHT" にする

config ZMK_KEYBOARD_NAME
    default "WK 360 Wireless"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_WK360_LEFT || SHIELD_WK_RIGHT

config ZMK_SPLIT
    default y

endif
