# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_WK_KINESIS_LEFT
    def_bool $(shields_list_contains,wk_kinesis_left)

config SHIELD_WK_KINESIS_RIGHT
    def_bool $(shields_list_contains,wk_kinesis_right)