#include <dt-bindings/zmk/matrix_transform.h>

#include <physical_layouts.dtsi>

/ {
    wk360_layout: wk360_layout {
        compatible = "zmk,physical-layout";
        display-name = "wk360";

        kscan = <&kscan0>;
        transform = <&matrix_transform0>;

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  575    0       0     0     0>
            , <&key_physical_attrs 100 100  675    0       0     0     0>
            , <&key_physical_attrs 100 100  775    0       0     0     0>
            , <&key_physical_attrs 100 100  875    0       0     0     0>
            , <&key_physical_attrs 100 100 1525    0       0     0     0>
            , <&key_physical_attrs 100 100 1625    0       0     0     0>
            , <&key_physical_attrs 100 100 1725    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 100 100  375   25       0     0     0>
            , <&key_physical_attrs 100 100  475   25       0     0     0>
            , <&key_physical_attrs 100 100 1925   25       0     0     0>
            , <&key_physical_attrs 100 100 2025   25       0     0     0>
            , <&key_physical_attrs 100 100  575  100       0     0     0>
            , <&key_physical_attrs 100 100  675  100       0     0     0>
            , <&key_physical_attrs 100 100  775  100       0     0     0>
            , <&key_physical_attrs 100 100  875  100       0     0     0>
            , <&key_physical_attrs 100 100 1525  100       0     0     0>
            , <&key_physical_attrs 100 100 1625  100       0     0     0>
            , <&key_physical_attrs 100 100 1725  100       0     0     0>
            , <&key_physical_attrs 100 100 1825  100       0     0     0>
            , <&key_physical_attrs 125 100  350  125       0     0     0>
            , <&key_physical_attrs 100 100  475  125       0     0     0>
            , <&key_physical_attrs 100 100 1925  125       0     0     0>
            , <&key_physical_attrs 125 100 2025  125       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100 1525  200       0     0     0>
            , <&key_physical_attrs 100 100 1625  200       0     0     0>
            , <&key_physical_attrs 100 100 1725  200       0     0     0>
            , <&key_physical_attrs 100 100 1825  200       0     0     0>
            , <&key_physical_attrs 125 100  350  225       0     0     0>
            , <&key_physical_attrs 100 100  475  225       0     0     0>
            , <&key_physical_attrs 100 100 1925  225       0     0     0>
            , <&key_physical_attrs 125 100 2025  225       0     0     0>
            , <&key_physical_attrs 100 100  575  300       0     0     0>
            , <&key_physical_attrs 100 100  675  300       0     0     0>
            , <&key_physical_attrs 100 100  775  300       0     0     0>
            , <&key_physical_attrs 100 100  875  300       0     0     0>
            , <&key_physical_attrs 100 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1625  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  300       0     0     0>
            , <&key_physical_attrs 100 100 1825  300       0     0     0>
            , <&key_physical_attrs 125 100  350  325       0     0     0>
            , <&key_physical_attrs 100 100  475  325       0     0     0>
            , <&key_physical_attrs 100 100 1925  325       0     0     0>
            , <&key_physical_attrs 125 100 2025  325       0     0     0>
            , <&key_physical_attrs 100 100  575  400       0     0     0>
            , <&key_physical_attrs 100 100  675  400       0     0     0>
            , <&key_physical_attrs 100 100  775  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  400       0     0     0>
            , <&key_physical_attrs 100 100 1725  400       0     0     0>
            , <&key_physical_attrs 100 100 1825  400       0     0     0>
            , <&key_physical_attrs 100 100  475  425       0     0     0>
            , <&key_physical_attrs 100 100 1925  425       0     0     0>
            , <&key_physical_attrs 100 100  500  525       0     0     0>
            , <&key_physical_attrs 100 100  600  525       0     0     0>
            , <&key_physical_attrs 100 200  400  625       0     0     0>
            , <&key_physical_attrs 100 200  500  625       0     0     0>
            , <&key_physical_attrs 100 100  600  625       0     0     0>
            , <&key_physical_attrs 100 100  600  725       0     0     0>
            , <&key_physical_attrs 100 100    0  825       0     0     0>
            , <&key_physical_attrs 100 100  100  825       0     0     0>
            , <&key_physical_attrs 100 100    0  925       0     0     0>
            , <&key_physical_attrs 100 200  100  925       0     0     0>
            , <&key_physical_attrs 100 200  200  925       0     0     0>
            , <&key_physical_attrs 100 100    0 1025       0     0     0>
            ;
    };
};


/ {
    chosen {
        zmk,kscan = &kscan0;
        // zmk,matrix_transform = &default_transform;
        zmk,physical-layouts = &wk360_layout;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        rows = <4>;
        columns = <8>;
        map = <
            RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)                                                                      RC(0,10) RC(0,11) RC(0,12) RC(0,13) RC(0,14) RC(0,15)
            RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)                                                                      RC(1,10) RC(1,11) RC(1,12) RC(1,13) RC(1,14) RC(1,15)
            RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)     RC(2,6)         RC(2,7)            RC(2,8) RC(2,9)               RC(2,10) RC(2,11) RC(2,12) RC(2,13) RC(2,14) RC(2,15)
            RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)                     RC(3,7)            RC(3,8)                       RC(3,10) RC(3,11) RC(3,12) RC(3,13) RC(3,14) RC(3,15)
                    RC(4,1) RC(4,2) RC(4,3) RC(4,4)             RC(4,5) RC(4,6) RC(4,7)            RC(4,8) RC(4,9) RC(4,10)               RC(4,11) RC(4,12) RC(4,13) RC(4,14)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        diode-direction = "col2row";
    };

};

&wk360_layout {
        transform = <&default_transform>;
        kscan = <&kscan0>;
};

zephyr_udc0:&usbd{
    compatible="nordic,nrf-usbd";
    status="okay"
};