# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_WK_KINESIS_360_LEFT
# 右親機にしたければ "if SHIELD_WK_KINESIS_360_RIGHT" にする

config ZMK_KEYBOARD_NAME
    default "wk_kinesis_360 Keyboard"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif


if SHIELD_WK_KINESIS_360_LEFT || SHIELD_WK_KINESIS_360_RIGHT

config ZMK_SPLIT
    default y

endif
