#include <physical_layouts.dtsi>

/ {
        wk_kinesis_layout:wk_kinesis_layout {
        compatible = "zmk,physical-layout";
        display-name = "WK 360 Wireless";
        transform = <&default_transform>;
        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100  575    0       0     0     0>
            , <&key_physical_attrs 100 100  675    0       0     0     0>
            , <&key_physical_attrs 100 100  775    0       0     0     0>
            , <&key_physical_attrs 100 100  875    0       0     0     0>
            , <&key_physical_attrs 100 100 1525    0       0     0     0>
            , <&key_physical_attrs 100 100 1625    0       0     0     0>
            , <&key_physical_attrs 100 100 1725    0       0     0     0>
            , <&key_physical_attrs 100 100 1825    0       0     0     0>
            , <&key_physical_attrs 100 100  375   25       0     0     0>
            , <&key_physical_attrs 100 100  475   25       0     0     0>
            , <&key_physical_attrs 100 100 1925   25       0     0     0>
            , <&key_physical_attrs 100 100 2025   25       0     0     0>
            , <&key_physical_attrs 100 100  575  100       0     0     0>
            , <&key_physical_attrs 100 100  675  100       0     0     0>
            , <&key_physical_attrs 100 100  775  100       0     0     0>
            , <&key_physical_attrs 100 100  875  100       0     0     0>
            , <&key_physical_attrs 100 100 1525  100       0     0     0>
            , <&key_physical_attrs 100 100 1625  100       0     0     0>
            , <&key_physical_attrs 100 100 1725  100       0     0     0>
            , <&key_physical_attrs 100 100 1825  100       0     0     0>
            , <&key_physical_attrs 125 100  350  125       0     0     0>
            , <&key_physical_attrs 100 100  475  125       0     0     0>
            , <&key_physical_attrs 100 100 1925  125       0     0     0>
            , <&key_physical_attrs 125 100 2025  125       0     0     0>
            , <&key_physical_attrs 100 100  575  200       0     0     0>
            , <&key_physical_attrs 100 100  675  200       0     0     0>
            , <&key_physical_attrs 100 100  775  200       0     0     0>
            , <&key_physical_attrs 100 100  875  200       0     0     0>
            , <&key_physical_attrs 100 100 1525  200       0     0     0>
            , <&key_physical_attrs 100 100 1625  200       0     0     0>
            , <&key_physical_attrs 100 100 1725  200       0     0     0>
            , <&key_physical_attrs 100 100 1825  200       0     0     0>
            , <&key_physical_attrs 125 100  350  225       0     0     0>
            , <&key_physical_attrs 100 100  475  225       0     0     0>
            , <&key_physical_attrs 100 100 1925  225       0     0     0>
            , <&key_physical_attrs 125 100 2025  225       0     0     0>
            , <&key_physical_attrs 100 100  575  300       0     0     0>
            , <&key_physical_attrs 100 100  675  300       0     0     0>
            , <&key_physical_attrs 100 100  775  300       0     0     0>
            , <&key_physical_attrs 100 100  875  300       0     0     0>
            , <&key_physical_attrs 100 100 1525  300       0     0     0>
            , <&key_physical_attrs 100 100 1625  300       0     0     0>
            , <&key_physical_attrs 100 100 1725  300       0     0     0>
            , <&key_physical_attrs 100 100 1825  300       0     0     0>
            , <&key_physical_attrs 125 100  350  325       0     0     0>
            , <&key_physical_attrs 100 100  475  325       0     0     0>
            , <&key_physical_attrs 100 100 1925  325       0     0     0>
            , <&key_physical_attrs 125 100 2025  325       0     0     0>
            , <&key_physical_attrs 100 100  575  400       0     0     0>
            , <&key_physical_attrs 100 100  675  400       0     0     0>
            , <&key_physical_attrs 100 100  775  400       0     0     0>
            , <&key_physical_attrs 100 100 1625  400       0     0     0>
            , <&key_physical_attrs 100 100 1725  400       0     0     0>
            , <&key_physical_attrs 100 100 1825  400       0     0     0>
            , <&key_physical_attrs 100 100  475  425       0     0     0>
            , <&key_physical_attrs 100 100 1925  425       0     0     0>
            , <&key_physical_attrs 100 100  500  525       0     0     0>
            , <&key_physical_attrs 100 100  600  525       0     0     0>
            , <&key_physical_attrs 100 200  400  625       0     0     0>
            , <&key_physical_attrs 100 200  500  625       0     0     0>
            , <&key_physical_attrs 100 100  600  625       0     0     0>
            , <&key_physical_attrs 100 100  600  725       0     0     0>
            , <&key_physical_attrs 100 100    0  825       0     0     0>
            , <&key_physical_attrs 100 100  100  825       0     0     0>
            , <&key_physical_attrs 100 100    0  925       0     0     0>
            , <&key_physical_attrs 100 200  100  925       0     0     0>
            , <&key_physical_attrs 100 200  200  925       0     0     0>
            , <&key_physical_attrs 100 100    0 1025       0     0     0>
            ;
    };
};